@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.simbol{
    font-weight: bold;
    font-size: 80px;
    
    
}


#palo-inferior{
    transform: rotate(180deg);
}

h2{
    margin: 16px; 
    color: white; 
    font-weight: bold;
}